@use '../../styles/variables' as vars;
@use '../../styles/mixins' as m;

.dashboardContainer {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding-bottom: 50px;

  .pageTitle {
    color: vars.$primary-dark;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
    font-family: vars.$font-family;
  }
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 26px;
  margin-bottom: 40px;

  
  @include m.mobile {
    grid-template-columns: 1fr; 
    gap: 20px;
  }


  @media (min-width: 769px) and (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr); 
  }
}

.tableSection {
  background-color: vars.$white;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-top: 40px;
  padding: 20px;
  min-height: 400px; 
}