// Lendsqr Brand Colors
$primary-teal: #39CDCC;
$primary-dark: #213F7D; 
$text-main: #545F7D;
$text-secondary: #545F7D;
$bg-color-light: #FBFBFB;
$white: #FFFFFF;
$font-family: 'Work Sans', sans-serif;
