@use '../styles/variables' as vars;

.badge {
  padding: 6px 12px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

// Active: Greenish
.active {
  background-color: rgba(57, 205, 104, 0.06);
  color: #39CD68;
}

// Inactive: Greyish/Blue
.inactive {
  background-color: rgba(84, 95, 125, 0.06);
  color: vars.$text-secondary;
}

// Pending: Yellowish/Orange
.pending {
  background-color: rgba(233, 178, 0, 0.1);
  color: #E9B200;
}

// Blacklisted: Reddish
.blacklisted {
  background-color: rgba(228, 3, 59, 0.1);
  color: #E4033B;
}